<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<title>Burger Tyme!</title>
		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="/models/burger.js"></script>
	</head>
	<body>
		{{{ body }}}

		    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
			<script src="/public/js/burgers.js"></script>
	</body>
</html>
